body {
  background-image: url(/Users/alexluckett/Downloads/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

@media (max-width: 640px) {
  body {
    background-image: url(/Users/alexluckett/Downloads/wallpaperflare.com_wallpaper.jpg);
  }
}

@media (min-width: 640px) and (max-width: 1280px) {
  body {
    background-image: url(/Users/alexluckett/Downloads/wallpaperflare.com_wallpaper.jpg);
  }
}

@media (min-width: 640px) and (max-width: 1280px) {
  body {
    background-image: url(/Users/alexluckett/Downloads/wallpaperflare.com_wallpaper.jpg);
  }
}

